---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import type { PokemonListResponse } from "../../interfaces";

import PokemonCard from "@components/pokemons/PokemonCard.astro";
import Title from "@components/shared/Title.astro";

export const getStaticPaths = (async() => {

    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const {results} = (await resp.json() as PokemonListResponse);

    return results.map(({ name, url }) => ({ params: { name }, props: { name, url } }));

}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<Layout title={`Pokemon Static | #${id} - ${name}`} description={`Información del pokemón #${id} - ${name}`} image={imgSrc}>
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <!-- <a href="/">Regresar</a> -->
             <button
                class="text-blue-500"
                onclick="history.back()"
             >Regresar</button>
            <Title>Pokemon: {name}</Title>
        </div>
        <PokemonCard url={url} name={name} isBig />

        <audio controls>
            <source src={audioSrc} type="audio/ogg" />
            Your browser does not support the audio element.
        </audio>
    </section>
</Layout>
