---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces";

export const getStaticPaths = (async() => {

    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const {results} = (await resp.json() as PokemonListResponse);

    return results.map(({ name, url }) => {
        const id = url.split("/").at(-2);
        console.log
        return {
            params: { id },
            props: { id, name }
        };
    });

}) satisfies GetStaticPaths;

const { id  } = Astro.params;
const { name } = Astro.props;

//const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<Layout title={`Pokemon Static | #${id}-${name}`}>
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <a href="/">Regresar</a>
            <h1 class="text-3xl">Pokemon: #{name}</h1>
        </div>
        <PokemonCard url='' id={id} isBig />

        <audio controls>
            <source src={audioSrc} type="audio/ogg" />
            Your browser does not support the audio element.
        </audio>
    </section>
</Layout>
